<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Recovery Password</title>
  <style>
    /* -------------------------------------
      RESPONSIVE AND MOBILE FRIENDLY STYLES
  ------------------------------------- */
    @media only screen and (max-width: 620px) {
      table[class='body'] h1 {
        font-size: 28px !important;
        margin-bottom: 10px !important;
      }

      table[class='body'] p,
      table[class='body'] ul,
      table[class='body'] ol,
      table[class='body'] td,
      table[class='body'] span,
      table[class='body'] a {
        font-size: 16px !important;
      }

      table[class='body'] .wrapper,
      table[class='body'] .article {
        padding: 10px !important;
      }

      table[class='body'] .content {
        padding: 0 !important;
      }

      table[class='body'] .container {
        padding: 0 !important;
        width: 100% !important;
      }

      table[class='body'] .main {
        border-left-width: 0 !important;
        border-radius: 0 !important;
        border-right-width: 0 !important;
      }

      table[class='body'] .btn table {
        width: 100% !important;
      }

      table[class='body'] .btn a {
        width: 100% !important;
      }

      table[class='body'] .img-responsive {
        height: auto !important;
        max-width: 100% !important;
        width: auto !important;
      }
    }

    /* -------------------------------------
      PRESERVE THESE STYLES IN THE HEAD
  ------------------------------------- */
    @media all {
      .ExternalClass {
        width: 100%;
      }

      .ExternalClass,
      .ExternalClass p,
      .ExternalClass span,
      .ExternalClass font,
      .ExternalClass td,
      .ExternalClass div {
        line-height: 100%;
      }

      .apple-link a {
        color: inherit !important;
        font-family: inherit !important;
        font-size: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
        text-decoration: none !important;
      }

      #MessageViewBody a {
        color: inherit;
        text-decoration: none;
        font-size: inherit;
        font-family: inherit;
        font-weight: inherit;
        line-height: inherit;
      }

      .btn-primary table td {
        background-color: #581e5c !important;
      }

      .btn-primary table td:hover {
        background-color: #833888 !important;
      }

      .btn-primary a:hover {
        background-color: #833888 !important;
        border-color: #833888 !important;
      }
    }
  </style>
</head>
<body
  class=""
  style="
      background-color: #f6f6f6;
      font-family: sans-serif;
      -webkit-font-smoothing: antialiased;
      font-size: 14px;
      line-height: 1.4;
      margin: 0;
      padding: 0;
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
    "
>
<span
  class="preheader"
  style="
        color: transparent;
        display: none;
        height: 0;
        max-height: 0;
        max-width: 0;
        opacity: 0;
        overflow: hidden;
        mso-hide: all;
        visibility: hidden;
        width: 0;
      "
>Trouble signing in? Resetting your password is easy.
    </span>
<table
  border="0"
  cellpadding="0"
  cellspacing="0"
  style="
        border-collapse: separate;
        mso-table-lspace: 0pt;
        mso-table-rspace: 0pt;
        width: 100%;
      "
>
  <tr>
    <td
      class="content-block"
      style="
            font-family: sans-serif;
            vertical-align: top;
            padding-bottom: 10px;
            padding-top: 10px;
            font-size: 12px;
            color: #999999;
            text-align: center;
          "
    >
      <img
        width="320"
        alt=""
        src="https://i1.wp.com/www.datavaults.eu/wp-content/uploads/2020/03/DataVaults-Logo-Transparent-Color-Pixel-Black-Letter.png?resize=768%2C164&ssl=1"
      />
    </td>
  </tr>
</table>
<table
  border="0"
  cellpadding="0"
  cellspacing="0"
  class="body"
  style="
        border-collapse: separate;
        mso-table-lspace: 0pt;
        mso-table-rspace: 0pt;
        width: 100%;
        background-color: #f6f6f6;
      "
>
  <tr>
    <td
      style="font-family: sans-serif; font-size: 14px; vertical-align: top"
    >
      &nbsp;
    </td>
    <td
      class="container"
      style="
            font-family: sans-serif;
            font-size: 14px;
            vertical-align: top;
            display: block;
            margin: 0 auto;
            max-width: 980px;
            padding: 10px;
            width: 980px;
          "
    >
      <div
        class="content"
        style="
              box-sizing: border-box;
              display: block;
              margin: 0 auto;
              max-width: 980px;
              padding: 10px;
            "
      >
        <!-- START CENTERED WHITE CONTAINER -->
        <table
          class="main"
          style="
                border-collapse: separate;
                mso-table-lspace: 0pt;
                mso-table-rspace: 0pt;
                width: 100%;
                background: #ffffff;
                border-radius: 3px;
              "
        >
          <!-- START MAIN CONTENT AREA -->
          <tr>
            <td
              class="wrapper"
              style="
                    font-family: sans-serif;
                    font-size: 14px;
                    vertical-align: top;
                    box-sizing: border-box;
                    padding: 20px;

                    text-align: center;
                  "
            >
              <table
                border="0"
                cellpadding="0"
                cellspacing="0"
                style="
                      border-collapse: separate;
                      mso-table-lspace: 0pt;
                      mso-table-rspace: 0pt;
                      width: 100%;
                    "
              >
                <tr>
                  <td
                    style="
                          font-family: sans-serif;
                          font-size: 14px;
                          vertical-align: top;
                        "
                  >
                    <p
                      style="
                            font-family: sans-serif;
                            font-size: 22px;
                            font-weight: normal;
                            margin: 0;
                            margin-bottom: 15px;
                          "
                    >
                      Trouble signing in? Resetting your password is easy.
                    </p>
                    <p
                      style="
                            font-family: sans-serif;
                            font-size: 17px;
                            font-weight: normal;
                            margin: 0;
                            margin-bottom: 15px;
                          "
                    >
                      Just press the button below and follow the
                      instructions. We&#8217;ll have you up and running in
                      no time.
                    </p>
                    <table
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      class="btn btn-primary"
                      style="
                            border-collapse: separate;
                            mso-table-lspace: 0pt;
                            mso-table-rspace: 0pt;
                            width: 100%;
                            box-sizing: border-box;
                            text-align: center;
                          "
                    >
                      <tbody>
                      <tr>
                        <td
                          align="center"
                          style="
                                  font-family: sans-serif;
                                  font-size: 14px;
                                  vertical-align: top;
                                  padding-bottom: 15px;
                                "
                        >
                          <table
                            border="0"
                            cellpadding="0"
                            cellspacing="0"
                            style="
                                    border-collapse: separate;
                                    mso-table-lspace: 0pt;
                                    mso-table-rspace: 0pt;
                                    width: auto;
                                    text-align: center;
                                  "
                          >
                            <tbody>
                            <tr>
                              <td
                                style="
                                          font-family: sans-serif;
                                          font-size: 14px;
                                          vertical-align: top;
                                          background-color: #581e5c;
                                          border-radius: 5px;
                                          text-align: center;
                                        "
                              >
                                <a
                                  href="{{verify-link}}"
                                  target="_blank"
                                  style="
                                            display: inline-block;
                                            color: #ffffff;
                                            background-color: #581e5c;
                                            border: solid 1px #581e5c;
                                            border-radius: 5px;
                                            box-sizing: border-box;
                                            cursor: pointer;
                                            text-decoration: none;
                                            font-size: 14px;
                                            font-weight: bold;
                                            margin: 0;
                                            padding: 12px 25px;
                                            text-transform: capitalize;
                                            border-color: #581e5c;
                                          "
                                >Password Recovery</a
                                >
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      </tbody>
                    </table>

                    <p
                      style="
                            font-family: sans-serif;
                            font-size: 14px;
                            font-weight: normal;
                            margin: 0;
                            margin-bottom: 15px;
                          "
                    >
                      If you are not aware of this please ignore this
                      message and nothing will change.
                    </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <!-- END MAIN CONTENT AREA -->
        </table>

        <!-- START FOOTER -->
        <div
          class="footer"
          style="
                clear: both;
                margin-top: 10px;
                text-align: center;
                width: 100%;
              "
        >
          <table
            border="0"
            cellpadding="0"
            cellspacing="0"
            style="
                  border-collapse: separate;
                  mso-table-lspace: 0pt;
                  mso-table-rspace: 0pt;
                  width: 100%;
                "
          >
            <tr>
              <td
                class="content-block"
                style="
                      font-family: sans-serif;
                      vertical-align: top;
                      padding-bottom: 10px;
                      padding-top: 10px;
                      font-size: 12px;
                      color: #999999;
                      text-align: center;
                    "
              >
                    <span
                      class="apple-link"
                      style="
                        color: #999999;
                        font-size: 12px;
                        text-align: center;
                      "
                    >© DataVaults 2021 - All rights reserved</span
                    >
                <br />
              </td>
            </tr>
          </table>
        </div>
        <!-- END FOOTER -->

        <!-- END CENTERED WHITE CONTAINER -->
      </div>
    </td>
    <td
      style="font-family: sans-serif; font-size: 14px; vertical-align: top"
    >
      &nbsp;
    </td>
  </tr>
</table>
</body>
</html>
