<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{{data.subject}}</title>
</head>
<style>
  th {
    vertical-align: top;
    text-align: left;
    white-space: nowrap;
    padding: 2pt 5pt;
  }
</style>
<body>
You have a new contact us message.<br><br>
<table>
  <tr>
    <th>Name:</th>
    <td>{{data.firstName}} {{data.lastName}}</td>
  </tr>
  <tr>
    <th>Email:</th>
    <td>{{data.email}}</td>
  </tr>
  {{#if data.phone}}
  <tr>
    <th>Phone:</th>
    <td>{{data.phone}}</td>
  </tr>
  {{/if}}
  <tr>
    <th>Message:</th>
    <td>{{data.message}}</td>
  </tr>
  <tr>
    <th>Hear About Us:</th>
    <td>{{data.hearAboutUs}}</td>
  </tr>
  <tr>
    <th>Sent At:</th>
    <td>{{currentDate}}</td>
  </tr>
</table>
</body>
</html>
